html, body {
    font-family: verdana;
    font-size: 14px;
    background-color:bisque;
    padding: 0;
    margin: 0;
}


.navigation {
    width: 100%;
    height: 30px;
    position: fixed;
    background-color:brown;
    font-size: 1.2em;
    padding: 10px;
}

.navigation .link {
    color: white;
    padding: 5px 10px;
}

.navigation .link:hover {
    background-color: white;
    color: brown;
}
.main {
    padding: 50px 10px;
}

.showme {
    color: brown;
    font-weight: bold;
    font-size: 1.2em;
}

.btn {
    border: 1px solid brown;
    color: white;
    background-color: brown;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color:rgb(97, 15, 15);
}